@charset 'utf-8';
html,body{height: 100%;background:#f1f3f4;font-family:Arial,Helvetica,Verdana,"PingFang SC Medium,STHeiti,HelveticaNeue,Droidsansfallback,Droid Sans";}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,form,input,button,textarea,p,strong{padding:0;margin:0;}
html,body,form,p,div{-webkit-text-size-adjust:none;}
img{display: block;border: 0 none;width: 100%}
a{text-decoration:none; color:#333; outline:none;-webkit-tap-highlight-color:transparent;}
em,strong{font-style:normal;}
em,strong{font-style:inherit;font-weight:inherit;}
ul,li{list-style:none;}
h1,h2,h3{font-size:100%;font-weight:normal;-webkit-text-size-adjust:none;}
input,button,textarea,select,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix { *zoom:1; }
::-webkit-scrollbar {width: 0;height: 12px;display: none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*公共模型*/
.search_icon, .menu_btn i, .menu i, .menu span, .go_top i {
	background: url('../images/base_icon.png') no-repeat;
	background-size: 5.4rem .42rem;
}
.hidden, section, .m_title, .list_model dt, .ent_model dt, .channel_hot p, .list_model dd, .ent_model dd, .show_select li, .film_select li, .friend_link, .swiper-container, .swiper-filmcontainer, .star_feature dt, .star_feature dd, .news_model dl, .news_model dt, .news_model h2, .news_model p {
	overflow: hidden;
}
.fl, nav li, .menu i, .menu p, .m_title h2, .list_model dl, .ent_model dl, .show_select li, .film_select li, .friend_link a, .fix_nav li, .swiper-pagination-bullet, .star_icon, .news_model span, .news_model .more_pic i {
	float: left;
}
.fr, .search_icon, .news_model dt, .news_model em, .m_title span {
	float: right;
}
nav, .banner a, .list_model dt, .channel_hot, .head_detail, .return, .swiper-container, .swiper-filmcontainer, .swiper-wrapper, .swiper-slide, .film_time .time_line, .ent_model dt {
	position: relative;
}
nav a, .menu_btn i, .banner a, .list_model em, .fix_nav a, .show_select a, .fix_nav i, .swiper-filmcontainer .list_model, .loading {
	display: block;
}
.menu, .menu span, .layer, .list_model span, .channel_hot p, .banner p, .banner h1, .banner a:before, .go_top i, .film_time .time_line:after, .film_time .time_line span, .swiper-pagination, .ent_model span {
	position: absolute;
}
.menu li, .menu a, .layer, .banner a, .banner a:before, .fix_nav a, .show_select a, .swiper-filmcontainer .list_model dl, .film_time .time_line, .film_time .time_line:after {
	width: 100%;
}
.menu a, .channel_hot img, .banner a, .banner a:before, .fix_nav li, .fix_nav a, .show_select a {
	height: 100%;
}
/*头部*/
header {
	width: 7.2rem;
	height: .88rem;
	background-color: #1f1f1f;
}
nav {
	width: 7.2rem;
	height: .6rem;
	background-color: #fff;
}
nav a {
	height: .56rem;
	margin: 0 auto;
	padding: 0 .15rem;
	color: #333;
	font-size: .32rem;
	text-align: center;
	line-height: .6rem;
}
nav li {
	height: .6rem;
	margin: 0 .15rem;
}
nav .on a {
	border-bottom: .05rem solid #28ce6e;	
}
.search_icon {
	width: .42rem;
	height: .42rem;
	margin: .24rem .2rem 0 0; 
	background-position: -.42rem 0;
}
.menu_btn {
	width: .6rem;
	height: .6rem;
}
.menu_btn i {
	width: .34rem;
	height: .34rem;
	margin: .14rem 0 0 .13rem;
	background-position: -.035rem -.038rem;
}
.logo {
	width: 1.85rem;
	height: .4rem;
	margin: .24rem 0 0 .2rem;
}
.menu {
	top: .16rem;
	right: .14rem;
	width: 40%;
	height: 9.08rem;
	background-color: #fff;
	border-radius: .05rem;
}
.menu li {
	height: 1rem;
	margin: 0;
	border-top: 1px solid #f1f6fe;
}
.menu li:nth-child(1) {
	border: 0;
}
.menu i {
	width: .42rem;
	height: .42rem;
	margin: .3rem 0 0 .22rem;
}
.menu a {
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: .4;
}
.menu p {
	margin: .44rem 0 0 .2rem;
	font-size: .32rem;
}
.menu span {
	top: -.11rem;
	right: .1rem;
	width: .18rem;
	height: .11rem;
	background-position: -5.14rem -.09rem;
}
.menu .star {
	background-position: -.84rem 0;
}
.menu .variety {
	background-position: -1.27rem 0;
}
.menu .anime {
	background-position: -1.69rem 0;
}
.menu .plot {
	background-position: -2.1rem 0;
}
.menu .theme {
	background-position: -2.53rem 0;
}
.menu .ranking {
	background-position: -2.95rem 0;
}
.menu .update {
	background-position: -3.37rem 0;
}
.menu .film {
	background-position: -3.78rem 0;
}
.menu .tvshow {
	background-position: -4.21rem 0;
}
/*内页头部*/
.head_detail {
	height: .88rem;
	background-color: #1f1f1f;
}
.head_detail h2 {
	float: left;
	width: 5.6rem;
	color: #b4b4b4;
	font-size: .3rem;
	text-align: center;
	line-height: .88rem;
}
.return {
	width: .8rem;
	height: .88rem;
}
.return:after {
	content: "";
	display: block;
	width: .25rem;
	height: .25rem;
	border-left: .024rem solid #727272;
	border-top: .024rem solid #727272;
	position: absolute;
	left: .28rem;
	top: .29rem;
	-webkit-transform: rotate(-45deg);
}
.head_detail .menu_detail {
	width: .8rem;
	height: .88rem;
	background: url('../images/menu_d.png') center center no-repeat;
	background-size: .4rem .4rem;
}
.head_detail .layer {
	top: .88rem;
}
.detail_nav {
	padding-left: .2rem;
	height: .88rem;
	line-height: .88rem;
}
.detail_nav a {
	float: left;
	margin: 0 .2rem;
	color: #b4b4b4;	
	font-size: .3rem;
}
.detail_nav a:last-child {
	margin-right: 0;
}

/*布局*/
.wrapper {
	width: 7.2rem;
	margin: 0 auto;
}
.layer {
	top: .6rem;
	left: 0;
	height: 0;  /*10.4rem*/ 
	background-color: rgba(0,0,0,.4);
	z-index: 999;
}
section {
	margin: .14rem 0;
	background-color: #fff;
}
/*竖图模型*/
.list_model, .ent_model {
	padding: .14rem 0 0 .14rem;
}
.list_model dd, .ent_model dd {
	height: .61rem;
	font-size: .26rem;
	text-align: center;
	line-height: .61rem;
	white-space: nowrap;
}
.list_model dl, .ent_model dl {
	width: 31.33%;
	margin-right: .14rem;
}
.list_model dt {
	height: 2.94rem;
}
.ent_model img {
	height: 100%;
}
.list_model img {
	min-height: 100%;
}
.ent_model_index img {
	width: 100%;
	height: auto;
	min-height: 100%;
}
.list_model span, .ent_model span {
	bottom: 0;
	right: 0;
	padding: .02rem .1rem .0;
	color: #fff;
	font-size: .22rem;
	line-height: .3rem;
	background-color: rgba(0,0,0,.6);
}
.list_model em {
	color: #ff6600;
	height: .28rem;
	font-size: .2rem;
}
.list_model em:first-letter {
	font-size: .28rem;
}
.month em:first-letter {
	font-size: .2rem;
}
.list_model i {
	position: absolute;
	top: 0;
	left: 0;
	width: .3rem;
	height: .3rem;
	color: #fff;
	font-size: .22rem;
	font-style: normal;
	text-align: center;
	line-height: .35rem;
	z-index: 99;
}
.list_model i:after {
	content: '';
	position: absolute;
	top: -.4rem;
	left: -.4rem;
	width: .8rem;
	height: .8rem;
	background-color: rgba(153,154,154,.8);
	-webkit-transform: rotate(-45deg);
	z-index: -1;
}
.list_model i.col:after {
	background-color: rgba(255,84,0,.9);
}
/*横图模型*/
.ent_model dl {
	width: 48%;
}
.ent_model dt {
	height: 2.05rem;
}
.ent_model dd {
	height: .9rem;
	line-height: .45rem;
	white-space: normal;
	text-align: left;
}
/*频道热图*/
.channel_hot {
	height: 3.75rem;
	padding: .14rem 0 .48rem;
}
.channel_hot p {
	bottom: 0;
	left: 0;
	height: .48rem;
	padding: 0 .14rem;
	font-size: .26rem;
	line-height: .62rem;
}
/*banner*/
.banner {
	overflow: hidden;
	height: 3rem;
}
.banner img {
	min-height: 3rem;
}
.banner p, .banner h1 {
	bottom: .1rem;
	left: .22rem;
	color: #fff;
	font-size: .26rem;
	z-index: 99;
}
.banner a:before {
	content: "";
	z-index: 1;
	opacity: 1;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: -webkit-gradient(linear,0 50%,0 100%,from(rgba(0,0,0,0)),to(rgba(18, 21, 21, 0.8)));
}
/*选择*/
.show_select, .film_select {
	margin-left: -.024rem;
}
.show_select li, .film_select li {
	width: 25%;
	height: .78rem;
	border: .024rem solid #f1f3f4;
	border-right: 0;
	border-bottom: 0;
	font-size: .26rem;
	text-align: center;
	line-height: .78rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.show_select li:last-child a, .film_select li:last-child a {
	color: #28ce6e;
}
.show_select li.on a, .film_select li.on a {
	color: #333;
}
.film_select li {
	width: 20%;
}
/*标题*/
.m_title {
	height: .42rem;
	padding: 0 .14rem;
	padding-top: .24rem;
	font-size: .28rem;
}
.m_title h2 {
	height: .32rem;
	padding-left: .1rem;
	border-left: .05rem solid #28ce6e;
	line-height: .32rem;
}
.m_title span {
	position: relative;
	padding-right: .2rem;
	color: #999;
	font-size: .26rem;
}
.m_title span:after {
	content: "";
	display: block;
	width: .12rem;
	height: .12rem;
	border-left: .024rem solid #999;
	border-top: .024rem solid #999;
	position: absolute;
	right: .02rem;
	top: .09rem;
	-webkit-transform: rotate(135deg);
}
.m_title i.close {
	position: relative;
	float: right;
	width: .4rem;
	height: .4rem;
	margin-right: .2rem;
}
.m_title i.close:before, .m_title i.close:after {
	content: '';
	width: 65%;
	height: 1px;
	background-color: #333;
	position: absolute;
	left: .08rem;
	top: .2rem;
}
.m_title i.close:before {
	-webkit-transform: rotate(45deg);
}
.m_title i.close:after {
	-webkit-transform: rotate(-45deg);
}
/*友情链接*/
.friend_link {
	padding: .14rem .14rem 0;
}
.friend_link a {
	height: .28rem;
	margin: 0 .26rem .18rem 0;
	color: #999;
	font-size: .22rem;
	line-height: .28rem;
}
/*浮动导航*/
.frameout {
	margin: 0;
	padding: 0;
	border: 0;
	min-width: none;
	max-width: none;
	display: block;
}

.fix_nav {
	display: none;
	position: fixed;
	bottom: 0;
	width: 7.2rem;
	height: .9rem;
	border-top: 1px solid #e1e1e1;
	background-color: #fff;
	z-index: 214748364799999999;
}
.fix_nav li {
	width: 20%;
}
.fix_nav i {
	width: .46rem;
	height: .44rem;
	margin: .08rem auto 0;
	background: url('../images/nav_icon.png') no-repeat;
	background-size: 2.3rem .88rem;
}
.fix_nav p {
	font-size: .24rem;
	text-align: center;
	line-height: .36rem;
}
.fix_nav .on p {
	color: #28ce6e;
}
.fix_nav .one i {
	background-position: 0 0;
}
.fix_nav .on .one i {
	background-position: 0 -.45rem;
}
.fix_nav .two i {
	background-position: -.46rem 0;
}
.fix_nav .on .two i {
	background-position: -.46rem -.45rem;
}
.fix_nav .three i {
	background-position: -.923rem 0;
}
.fix_nav .on .three i {
	background-position: -.923rem -.45rem;
}
.fix_nav .four i {
	background-position: -1.38rem 0;
}
.fix_nav .on .four i {
	background-position: -1.38rem -.45rem;
}
.fix_nav .five i {
	background-position: -1.85rem 0;
}
.fix_nav .on .five i {
	background-position: -1.85rem -.45rem;
}
/*返回顶部*/
.go_top {
	display: none;
	position: fixed;
	bottom: 1.5rem;
	right: .14rem;
	width: .74rem;
	height: .74rem;
	background-color: rgba(0,0,0,.4);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index: 999;
}
.go_top i {
	top: .17rem;
	left: .16rem;
	width: .42rem;
	height: .42rem;
	background-position: -4.63rem 0;
}
/*底部*/
footer {
	/*min-height: 1.5rem;*/
	padding: 0 0 .2rem;
	background-color: #ececec;
}
footer p img {
	display: inline-block;
	width: 1.85rem;
	height: .42rem;
	margin: .2rem 0 .1rem;
}
footer p {
	text-align: center;
	color: #cacaca;
	font-size: .24rem;
	line-height: .29rem;
}
/*swiper*/
.swiper-container, .swiper-filmcontainer {
	height:3rem;
	margin:0 auto;
	z-index:1;
}
.swiper-wrapper {
	width:100%;
	height:3rem;
	z-index:1;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-transition-property:-webkit-transform;
	transition-property:transform;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
.swiper-slide {
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
}
.swiper-pagination {
	text-align:center;
	-webkit-transition:.3s;
	transition:.3s;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	z-index:10;
}
.swiper-container-horizontal > .swiper-pagination-bullets{
	bottom:.12rem;
	right:0;
	width:25%;
}
.swiper-pagination-bullet {
	width:.18rem;
	height:.05rem;
	margin-right:.13rem;
	background:#fff;
	opacity:1;
}
.swiper-pagination-white .swiper-pagination-bullet{
	background:#fff
	cursor:pointer;
}
.swiper-pagination-bullet-active{
	opacity:1;
	background:#28ce6e;
}
.swiper-filmcontainer .swiper-slide {
	width: 31.33%;
}
.swiper-filmcontainer {
	height: 3.95rem;
	margin: 0 .05rem;
}
.swiper-filmcontainer .list_model {
	padding-left: .05rem;
}
.swiper-filmcontainer .swiper-slide:nth-child(1) .list_model {
	padding-left: 0;
}
.page {
	margin: .2rem 0;
	text-align: center;
}
.page a, .page span {
	display: inline-block;
	width: 1.25rem;
	height: .6rem;
	border: 1px solid #d5d5d5;
	color: #999;
	font-size: .26rem;
	text-align: center;
	line-height: .65rem;
	-webkit-border-radius: .1rem;
	border-radius: .1rem;
}
.page span {
	width: auto;
	margin: 0 .1rem;
	padding: 0 .3rem;
	background-color: #f7f7f7;
	letter-spacing: .05rem;
}
.page em {
	color: #28ce6e;
}
.page a.on {
	color: #28ce6e;
	border-color: #28ce6e;
}
.film_time {
	margin-top: -.08rem;
}
.film_time .time_line {
	height: .4rem;
}
.film_time .time_line:after {
	content: "";
	top: .12rem;
	height: .02rem;
	background-color: #28ce6e;
	z-index: 9;
}
.film_time .time_line span {
	top: 0;
	left: 25%;
	padding: 0 .1rem;
	background-color: #fff;
	color: #28ce6e;
	font-size: .24rem;
	line-height: .26rem;
	z-index: 99;
}
/*动漫时间戳*/
.anime_time .swiper-filmcontainer, .anime_time .anime_con, .anime_time .anime_box {
	height: 3.55rem;
}
.anime_time {
	margin-top: -.12rem;
}
.anime_time .anime_con {
	position: relative;
}
.anime_time .anime_box {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}
.anime_time .anime_nav {
	/*height: .38rem;*/
	margin-bottom: .1rem;
}
.anime_time .anime_nav li {
	float: left;
	width: 14.28%;
	height: .44rem;
	padding-top: .06rem;
	cursor: pointer;
}
.anime_time .anime_nav span {
	display: block;
	width: .72rem;
	height: .38rem;
	margin: 0 auto;
	color: #41d17b;
	font-size: .24rem;
	text-align: center;
	line-height: .38rem;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
}
.anime_time .anime_nav li.on span {
	background-color: #41d17b;
	color: #fff;	
}
.anime_time .anime_con .anime_box {
	visibility: hidden;
}
.anime_time .anime_con .show {
	visibility: visible;
}
/*明星头像*/
.star_feature .swiper-filmcontainer {
	height: 1.9rem;
	margin: 0;
}
.star_feature .swiper-wrapper {
	height: 1.9rem;
}
.star_feature .swiper-slide {
	float: left;
	width: 23%;
}
.star_feature dl {
	float: left;
	padding-top: .15rem;
	margin: 0 .3rem;
}
.star_feature dt {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.star_feature dd {
	height: .52rem;
	font-size: .26rem;
	text-align: center;
	line-height: .52rem;
}
/*资讯内容*/
.news_model {
	overflow: hidden;
	padding: 0 .15rem;
}
.news_model dl {
	height: 1.7rem;
	padding-top: .2rem;
	border-top: 1px solid #f1f3f4;
	margin-top: -2px;
}
.news_model dt, .news_model .more_pic i {
	width: 2.25rem;
	height: 1.5rem;
}
.news_model img {
	min-height: 1.5rem;
}
.news_model dd {
	margin-right: 2.45rem;
	width: 4.45rem;
	height: 1.5rem;
}
.news_model h2 {
	max-height: .96rem;
	margin-bottom: .1rem;
	font-size: .34rem;
	line-height: .48rem;
}
.news_model p {
	color: #666;
	font-size: .22rem;
	line-height: .44rem;
}
.news_model span {
	color: #666;
}
.news_model .more_pic {
	padding: .14rem 0 .2rem;
	border-top: 1px solid #f1f3f4;
}
.news_model .more_pic p {
	margin-right: -.07rem;
}
.news_model .more_pic i {
	margin-right: .07rem;
}
.loading, .star_more {
	width: 6.92rem;
	height: .67rem;
	margin: 0 auto;
	background: url('../images/load.png') 2.3rem center no-repeat;
	background-size: .32rem .32rem;
	color: #bfbfbf;
	font-size: .28rem;
	text-align: center;
	line-height: .67rem;
	border-top: 1px solid #f1f3f4;
}
.star_more {
	display: block;
	color: #28ce6e;
	font-size: .22rem;
	background-image: none;
	text-align: left;
}
.star_more span {
	position: relative;
	display: block;
	width: 1.6rem;
	padding-right: .22rem;
	margin: 0 auto;
}
.star_more em {
	position: absolute;
	top: .22rem;
	right: 0;
	width: .22rem;
	height: .22rem;
	background-color: #41d17b;
	border-radius: 50%;
}
.star_more em:after {
	content: "";
	display: block;
	width: .08rem;
	height: .08rem;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: absolute;
	left: .05rem;
	top: .06rem;
	-webkit-transform: rotate(-45deg);
}
.plot_nav{
	overflow: hidden;
	height: .6rem;
	background-color: #fff;
	line-height: .6rem;
}
.tag_nav {
	overflow: hidden;
	padding: .16rem .1rem 0;
	background-color: #fff;
}
.tag_nav a {
	float: left;
	height: .48rem;
	margin: 0 .1rem .16rem;
	padding: 0 .18rem;
	border: 1px solid #e9e9e9;
	font-size: .26rem;
	line-height: .48rem;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
}
.plot_nav .swiper-wrapper {
	height: auto;
}
.plot_nav .swiper-slide {
	float: left;
	color: #161616;
	padding: 0 .26rem;
	font-size: .32rem;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.plot_nav .on {
	color: #28ce6e;
}
.month_select, .model_bar {

	background-color: #fff;
}
.model_bar ul {
	padding: .25rem 0 1px .14rem;	
}
.month_select_box {
	overflow: hidden;
	height: .6rem;
}
.month_select .plot_nav, .model_bar .plot_nav {
	margin-bottom: .25rem;
}
.month_select .plot_nav .on, .model_bar .plot_nav .on {
	border: 1px solid #28ce6e;
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
}
.month_select .plot_nav .swiper-slide, .model_bar .plot_nav .swiper-slide {
	min-width: 1.1rem;
	height: .58rem;
	padding: 0 .1rem;
	font-size: .28rem;
	line-height: .58rem;
}
.select_bar {
	width: 7.2rem;
	height: 1.9rem;
	background-color: #fff;
	z-index: 99;
}
.bar_mark {
	display: none;
	position: fixed;
	top: 0;
	width: 7.2rem;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 1;
}
.model_bar {
	width: 7.2rem;
	opacity: 1;
}
.model_bar .spell_bar .swiper-slide {
	min-width: .8rem;
}
.model_bar .spell_bar .swiper-slide:first-child {
	margin-right: .1rem;
}
.plot_list {

}
.plot_list li {
	overflow: hidden;
	position: relative;
	height: .62rem;
	padding: 0 .24rem;
	border-top: 1px solid #f1f2f3;
	font-size: .28rem;
	line-height: .62rem;
}
.plot_list a {
	display: block;
	width: 100%;
	height: 100%;
}
.plot_list span {
	float: left;
	max-width: 5rem;
}
.plot_list em {
	float: right;
	max-width: 1.72rem;
	color: #999;
	font-size: .22rem;
}
.theme_list {
	background-color: #fff;
}
.theme_list h2,.theme_banner h2 {
	overflow: hidden;
	height: .62rem;
	padding: 0 .14rem;
	font-size: .26rem;
	line-height: .62rem;
}
span.down, span.up, .month_select span{
	position: relative;
	display: block;
	height: .5rem;
}
span.down:after, span.up:after, .select span:after {
	content: "";
	display: block;
	width: .2rem;
	height: .2rem;
	border-left: .024rem solid #727272;
	border-top: .024rem solid #727272;
	position: absolute;
	left: 3.2rem;
	top: .08rem;
}
span.up:after {
	top: .2rem;
}
span.down:after, .select span:after {
	-webkit-transform: rotate(-135deg);	
}
span.up:after {
	-webkit-transform: rotate(45deg);	
}
.select {
	position: relative;
	width: 4rem;
	top: .88rem;
	padding-left: 3.2rem;
	height: .61rem;
	border-bottom: 1px solid #f1f2f3;
	font-size: .28rem;
	line-height: .61rem;
	background-color: rgba(255,255,255,1);
	opacity: 0;
	z-index: 9;
}
.select span {
	position: absolute;
	top: .12rem;
	left: .68rem;
}
.select span:after {
	width: .13rem;
	height: .13rem;
}
.all_list {
	height: 3.4rem;
}
.model_bar_nav {
	width: 7.2rem;
	border-bottom: 1px solid #f1f2f3;
}
.model_bar_nav a {
	float: left;
	width: 25%;
	height: .58rem;
	margin-bottom: -1px;
	border-bottom: .04rem solid transparent;
	font-size: .32rem;
	text-align: center;
	line-height: .58rem;
}
.model_bar_nav a.on {
	border-color: #28ce6e;
}
.model_bar_con .plot_nav {
	overflow: auto;
}
.swiper_pages {
	height: auto;
}
.swiper_pages .swiper-wrapper {
	height: auto;
}
.updata_today {
	margin-bottom: .14rem;
	background-color: #fff;
}
.updata_today dt {
	overflow: hidden;
	height: .62rem;
	padding: 0 .2rem;
	border-bottom: 1px solid #f1f2f3;
	font-size: .26rem;
	line-height: .62rem;
}
.updata_today p {
	position: relative;
	display: block;
	height: .6rem;
	font-size: .26rem;
	line-height: .6rem;
}
.updata_today a {
	display: block;
}
.updata_today span {
	overflow: hidden;
	display: block;
	height: .6rem;
	padding: 0 1rem 0 .2rem;
}
.updata_today em {
	position: absolute;
	right: .2rem;
	top: 0;
	font-size: .22rem;
}
.updata_today em a {
	color: #999;	
}

/*搜索页样式 */
.wide-search { text-align: center; background:url(../images/search_bg.jpg) no-repeat center center; padding: 0.4rem 0.2rem; color:#fff;}
.wide-search  h2{color:#fff; margin-bottom:1em;}
.wide-search .form-inline { width: 6rem;  margin: 0 auto; }
@media (min-width: 512px) {
.wide-search .form-inline { width: 460px; }
}
@media (max-width: 768px){
.wide-search  h2{font-size:24px; margin-bottom:2em;}
}
@media (min-width: 768px) {
.wide-search .form-inline { width:6rem; }
#content2{ margin-top:20px; padding-bottom:30px;}

}
.search-tag { padding-top: 30px; font-size: 14px; font-weight: 200;  }
.search-tag em { font-style: normal; }
.search-tag a {  margin: 0.4em; color:#fff;}
.wide-search .form-inline .form-group { width: 6rem; }
@media (min-width: 512px) {
.wide-search .form-inline .form-group { width: 6rem; }
}
@media (min-width: 768px) {
.wide-search .form-inline .form-group { width: 6rem; }
}

@media (min-width: 992px) {
.wide-search .form-inline .form-group { width: 6rem; }
}
.index-box { padding-bottom: 2em; }	
.index-box .index-main { padding-left: 0; padding-right: 0; }	
.wide-search .form-control {  width: 96%; vertical-align: middle; height: 0.7rem; line-height: 0.7rem; font-size: 0.25rem; font-weight: 100; border: none; color: #555; border-radius: 0.1rem; padding-left:0.2rem; }
.wide-search .btn-default { position: relative;
    float: right;
    margin-top: -0.7rem;
   
    border: none;
    border-radius: 0 4px 4px 0;
    height: 0.7rem;
    line-height: 0.7rem;
    background: #F60 url(../images/search_btn.png) no-repeat center center;
    background-size: 30px 30px;
    width: 0.9rem;
    padding: 0;
    text-indent: -200px;
    overflow: hidden; }
.navbar-default .navbar-toggle .icon-bar { background-color: #FFF; }
.index-main .media-heading { font-weight: 500; }
.index-main h2, .index-side h2 { font-weight: 500; font-size: 20px; }
.index-side .media { padding: .7em 0; border-bottom: 1px solid #E7E7E7; }
.index-side .media .media-heading{ font-size: 15px; }
.index-side .media-object { border-radius: 48px; border: 1px solid #EEE; }
.follow_qr { text-align: center; display: block; }
@media (min-width: 768px) {
.wide-search .btn-default {  }
.index-box .index-main { padding-left: 15px; padding-right: 15px; }	
.follow_qr { display: none; }
}
.search_pages {margin-left:0.25rem;  margin-top:0.25rem; }
.search_pages ul li{ float:left; margin-bottom:0.2rem; }
.search_pages ul li a{
float: left;
    height: .48rem;
    padding: 0 .15rem;
    margin-right: .14rem;
    border: 1px solid #d5d5d5;
    color: #999;
    font-size: .22rem;
    line-height: .5rem;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
}
.disabled{
display:none;
}
.search_pages .active{
    height: .45rem;
    padding: 0 .15rem;
    margin-right: .14rem;
    border: 1px solid #d5d5d5;
    color: #999;
    font-size: .22rem;
    line-height: .5rem;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
	background-color:#cacaca;
}